Gemfile.lock
/*.gem
/tmp
/spec/examples.txt
/coverage
.env

vendor/html5shiv
vendor/jquery
vendor/normalize-css
vendor/qtip2
vendor/selectivizr
vendor/clipboard/
vendor/eventEmitter
vendor/eventie
vendor/imagesloaded
vendor/ev-emitter
vendor/choosealicense.com/_sass
vendor/choosealicense.com/_includes
vendor/choosealicense.com/_layouts
vendor/choosealicense.com/assets
vendor/choosealicense.com/script
vendor/choosealicense.com/*.*
vendor/choosealicense.com/CNAME
vendor/choosealicense.com/Gemfile
vendor/choosealicense.com/Rakefile
vendor/choosealicense.com/spec

vendor/spdx-license-list/*
vendor/spdx-license-list/.git
!vendor/spdx-license-list/template/*
