name: Docker

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  build-image:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Build docker images
        run: docker build . --tag licensee

      - name: Smoke test
        run: docker run licensee